.main-tweets-container {
    border: 0.5px solid grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 450px;
    margin-top: 3.5rem;
    border-radius: 5px;
}

.tweet-header-sizing {
    background-color: rgb(231, 211, 211);
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
}

.img-h2-header {
    align-items: center;
    display: flex;
    height: 100%;
}

.img-h2-header img {
    display: inline;
    padding: 0.8rem;
}

.img-h2-header .header-name{
    display: inline;
    font-size: 1.2rem;
    align-self: normal;
}

.h3-header h3.h3-header-text {
    font-size: 0.7rem;
    padding-right: 0.6rem;
    padding-top: 0.6rem;
}

 .img-h3 {
    justify-content: flex-end;
}

main.main-tweet-box{
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

p.main-tweet-text{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: 1.0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
}

footer.footer-main {
    display:flex;
    justify-content: space-between;
    border-top: 0.5px solid black;
    width: 100%;
}

h3.footer-main-h3 {
    display: flex;
    padding-left: 0.7rem;
    font: 1rem italic;
    font-size: small;
}

.tweet-social-buttons {
    display: flex;
    padding-top: 5px;
    padding-right: 5px;
}

button.like {
    align-items: flex-end;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike {
    align-items: flex-end;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}



.main-tweets-container:hover {
    border: 1px solid black;
}

div.error-box {
    display:none;
}

div.error-box {
    display:none;
}

.main-tweets-container div.error-message {
    display: inline-block;
    width:100%;
}
